/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
  background-color: #1e1e1e;
  color: #ddd;
}

.dark-mode .navbar {
  background-color: #333 !important;
}

.dark-mode .navbar a {
  color: white !important;
}

.dark-mode .card {
  background: #333;
  color: #ddd;
  border: 1px solid #555;
}

.dark-mode .btn-outline-dark {
  background-color: #ddd;
  color: #222;
  border-color: #ddd;
}

.dark-mode .btn-outline-dark:hover {
  background-color: #bbb;
}

/* Footer Dark Mode */
.dark-mode footer {
  background-color: #222;
  color: #ddd;
}

.dark-mode footer a {
  color: #bbb;
}

.dark-mode footer a:hover {
  color: white;
}
